/* 
----- Table Of Contents -----
1. Fonts
   1-1 Readex Pro
2. background
3. Mobile Size
   3-1 Cover image Style
   3-2 Texts Style
   3-3 Button Style
4. Tablet Size - still in progress
5. Desktop Size - still in progress
*/


/* 1. Font */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}
/* 2. background */
body {
    font-family      : 'Readex Pro', sans-serif;
    background-image : url('assets/Landing\ mobile\ background.png');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contantContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

/* Text style  */
.mainText {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    font-style : normal;
    font-weight: 500;
    font-size  : 35px;
    line-height: 38px;
    color      : #ffffff;
}

.moreText {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    padding : 1rem;
    font-style : normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color      : #FFFFFF;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}
/* Buttons style  */

.startBtn {
    margin-left: 4rem;
    margin-top: 25rem;
    width           : 239px;
    height          : 64px;
    border          : none;
    border-radius   : 50px;
    background-color: #FFFFFF;
    font-style      : normal;
    font-weight     : 400;
    font-size       : 20px;
    line-height     : 24px;
}

a{
    text-decoration: none;
}

.about {
    margin-top: 0.5rem;
    font-style : normal;
    font-weight: 400;
    font-size  : 16px;
    line-height: 24px;
    text-align : center;
    color      : #ffffff;
}

